
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<JalpaBlog.Models.BlogPost>

@{
    ViewBag.Title = "Home Page";
}


<!--Adding Carousel-->

<section class="site-section pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme home-slider">
                    @foreach (var post in Model)
                    {
                    <div class="col-md-12">
                        <a href="@Url.Action("Details", "BlogPosts", new { slug = post.Slug })" class="a-block d-flex align-items-center height-lg" style="background-image: url(@post.MediaUrl); " >
                            <div class="text half-to-full">
                                <div class="blog-content-body">
                                    @*  <img class="img-responsive" src="@Html.DisplayFor(model=> post.MediaUrl)" alt="Image Placeholder" />*@

                                    <h2 class="Model-Created">@post.Created.ToString("MMMM d, yyyy")</h2>
                                    <h3 class="Model-Title">@post.Title</h3>
                                    <h2 class="Model-Abstract">@post.Abstract</h2>
                                </div>
                            </div>
                        </a>
                    </div>  
               
                    }

                </div>
            </div>
        </div>
    </div>

</section>

<!--Ending Carousel-->
<section class="site-section py-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mb-4">Latest Posts</h1>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row">
                    @foreach (var post in Model)
                    {
                        <div class="col-md-6">
                            <a href="@Url.Action("Details", "BlogPosts", new { slug = post.Slug })" class="blog-entry element-animate" data-animate-effect="fadeIn">
                               
                                <div class="blog-content-body">
                                    <div class="post-meta">

                                        <img class="img-responsive" src="@Html.DisplayFor(model=> post.MediaUrl)" alt="Image Placeholder" />

                                        <h2 class="Model-Created">@post.Created.ToString("MMMM d, yyyy")</h2>
                                    </div>

                                    <h3 class="Model-Title">@post.Title</h3>

                                    <h2 class="Model-Abstract">@post.Abstract</h2>
                                </div>
                            </a>
                        </div>
                    }
                </div>

                <!--Page List-->
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }));

            </div><!-- END main-content -->
            <!--search bar-->
            <div class="col-md-12 col-lg-4 sidebar">
                @using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                {
                <div class=" row">
                    <div class="col-md-6 controls controls-row search-row">
                        <input id="searchStr" name="searchStr" class=" input-block-level " type="text"
                               placeholder=" Search">
                    </div>
                    <div class="col-md-6 controls controls-row search-row">
                        <button class=" btn btn-primary " type="submit">Submit </button>
                    </div>
                </div>
                }
                <br/>
                <div class="sidebar-box">

                    <!--  sidebar-box -->

                    <div class="bio text-center">

                        <!--<img src="~/images/person_1.jpg" alt="Image Placeholder" class="img-fluid">-->

                        <div class="bio-body">
                            <h2>Jalpa Patel</h2>
                            <p>I am Software Developer and Designer.</p>

                            <p class="social">
                                <a href="https://www.facebook.com/jalpa.patel.1800" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="https://twitter.com/ImJalpa77" class="p-2"><span class="fa fa-twitter"></span></a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
