
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<JalpaBlog.Models.BlogPost>

@{
    ViewBag.Title = "Home Page";
}


<section class="site-section py-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="mb-4">Latest Posts</h1>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row">
                    @foreach (var post in Model)
                    {
                        <div class="col-md-6">
                            <a href="@Url.Action("Details", "BlogPosts", new { slug = post.Slug })" class="blog-entry element-animate" data-animate-effect="fadeIn">

                                <div class="blog-content-body">
                                    <div class="post-meta">

                                        <img class="img-responsive" src="@post.MediaUrl" alt="Image Placeholder" />

                                        <h2 class="Model-Created">@post.Created.ToString("MMMM d, yyyy")</h2>
                                    </div>

                                    <h3 class="Model-Title">@post.Title</h3>

                                    <h2 class="Model-Abstract">@post.Abstract</h2>
                                </div>
                            </a>
                        </div>
                    }
                </div>
                @* <div class="row mt-5">
                        <div class="col-md-12 text-center">
                            <nav aria-label="Page navigation" class="text-center">
                                <ul class="pagination">
                                    <li class="page-item  active"><a class="page-link" href="#">&lt;</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>

                                    <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>*@
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

            </div><!-- END main-content -->


            <div class="col-md-12 col-lg-4 sidebar">
                <div class="sidebar-box search-form-wrap" style="color:aqua">
                    <form action="#" class="search-form">
                        <div class="form-group" style="color:aqua">
                            <span class="icon fa fa-search" style="color:aqua"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <!-- END sidebar-box -->
                <div class="sidebar-box">
                    <div class="bio text-center">
                        <img src="~/images/person_1.jpg" alt="Image Placeholder" class="img-fluid">
                        <div class="bio-body">
                            <h2>Jalpa Patel</h2>
                            <p>I am Software Developer and Designer.</p>

                            <p class="social">
                                <a href="https://www.facebook.com/jalpa.patel.1800" class="p-2"><span class="fa fa-facebook"></span></a>
                                <a href="https://twitter.com/ImJalpa77" class="p-2"><span class="fa fa-twitter"></span></a>

                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
